body {
    background-color: #3E3E3C;
    justify-content: center;
    height: auto;
}
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
.about {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 350px; 
    height: 250px; 
    background-color: #E6E6E6;
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 2px solid #000;
    border-radius: 20px; /* Adjust as needed */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Adjust as needed */
}
.image {
    position: absolute;
    margin-left: 25px;
    margin-bottom: 10px;
    width: 150px; 
    height: 150px; 
    border-radius: 100px; /* Adjust the value to change the roundness of the corners */
    overflow: hidden; /* Ensures the image stays within the rounded corners */
}
.text {
    position: absolute;
    margin-left: 190px;
    margin-bottom: 30px;
    width: 150px; 
    height: 150px; 
    
    color: #454545;
    font-size: 14px;
    text-align: center;
    display: block;
    max-width: 50%;
    max-height: 50%;

}
.contacts {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 350px; 
    height: 150px; 
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid #000;
    border-radius: 20px; /* Adjust as needed */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Adjust as needed */
}
.socmed_icon {
    position: relative;
    width: 50px; 
    height: 50px; 
}
#wa-icon {
    
}
#email-icon {
    margin-left: 80px;
}
#linkedin-icon {
    margin-left: 80px;
}
#discord-icon {
    
}
#x-icon {
    margin-left: 80px;
}
.top_row {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: auto;
    justify-content: space-between;
}
.bot_row {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    margin-bottom: auto;
    justify-content: space-between;
}
.portfolio {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
/* Add styles to make the container fill the viewport */
.swiper-container {
    width: 350px;
    height: 550px;
    background-color: #E6E6E6;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid #000;
    border-radius: 20px; /* Adjust as needed */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Adjust as needed */
    
}
/* Style the slide containers */
.swiper-slide {
    
  }
  
  /* Add blur effect to non-focused containers */
  .swiper-slide:not(.swiper-slide-active) {
    filter: blur(5px); /* Adjust the blur amount as needed */
  }
.swiper-slide img {
    cursor: pointer;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
footer {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 350px; 
        height: auto; 
        background-color: #E6E6E6;
        display: flex;
        flex-direction: column;
        align-items: center;

        color: #454545;
        font-size: 12px;

        border: 2px solid #000;
    border-radius: 20px; /* Adjust as needed */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Adjust as needed */
}

#credit-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E6E6E6;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;

    border: 2px solid #000;
    border-radius: 20px; /* Adjust as needed */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Adjust as needed */
  }
  
  #credit-content {
    text-align: center;
  }
  
  #credit-box.active {
    display: block;
  }
  
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    z-index: 9999;
  }
  
  #back-to-top:hover {
    background-color: #555;
    content: "Back to Top";
  }
  