body {
    background-color: #3E3E3C;
    justify-content: center;
    height: auto;
}
.menu-navigation {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999; /* Set a high z-index value to ensure it appears above other elements */
}
.menu-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-navigation ul li {
    display: block;
    padding: 20px;
    margin-left: 10px;
}

.menu-navigation ul li a {
    text-decoration: none;
    color: #FF0000;
    padding: 5px 10px;
    border: 1px solid #FF0000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-navigation ul li a:hover {
    background-color: #FF0000;
    color: #FF0000;
}

.hide-menu {
    display: none;
}
.about {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 350px; 
    height: 250px; 
    background-color: #E6E6E6;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.image {
    position: absolute;
    margin-left: 25px;
    margin-bottom: 10px;
    width: 150px; 
    height: 150px; 
    border-radius: 100px; /* Adjust the value to change the roundness of the corners */
    overflow: hidden; /* Ensures the image stays within the rounded corners */
}
.text {
    position: absolute;
    margin-left: 190px;
    margin-bottom: 30px;
    width: 150px; 
    height: 150px; 
    font-family: 'Roboto', sans-serif;
    
    color: #454545;
    font-size: 15px;
    text-align: center;
    display: block;
    max-width: 50%;
    max-height: 50%;
}
.contacts {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 350px; 
    height: 150px; 
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socmed_icon {
    position: relative;
    width: 50px; 
    height: 50px; 
}
#wa-icon {
    
}
#email-icon {
    margin-left: 80px;
}
#linkedin-icon {
    margin-left: 80px;
}
#discord-icon {
    
}
#x-icon {
    margin-left: 80px;
}
.top_row {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: auto;
    justify-content: space-between;
}
.bot_row {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    margin-bottom: auto;
    justify-content: space-between;
}
.portfolio {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.swiper-slide img {
    max-width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    cursor: pointer;
  }
footer {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 350px; 
        height: auto; 
        background-color: #E6E6E6;
        display: flex;
        flex-direction: column;
        align-items: left;
}